<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.obigo.iwamanager"
    version="0.1">
    <name>IWAManager</name>
    <description>IWA Manager Plugin</description>
    <license>MIT</license>
    <keywords>cordova,iwamanager</keywords>
    <repo>https://github.com/martimus/IWAManager-cordova-3.0-plugin.git</repo>
    
    <js-module src="www/IWAManager.js" name="IWAManager">
	    <clobbers target="IWAManager" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IWAManagerPlugin">
                <param name="ios-package" value="IWAManagerPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/IWAManagerPlugin.h" />
	    <source-file src="src/ios/IWAManagerPlugin.m" />
    </platform>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IWAManagerPlugin">
	            <param name="android-package" value="com.obigo.iwamanager"/>
	        </feature>
        </config-file>
        <source-file src="src/android/IWAManagerPlugin.java" target-dir="com.obigo.iwamanager" />
    </platform>
    
</plugin>
